{% extends 'base/base.html' %}
{% block content %}{% load sekizai_tags %}{% addtoblock "description" %}<title>Welcome!</title><meta name="description" content="This is the official website of Loren Howard; Web Developer, Designer, and maker of pretty things that sparkle.">{% endaddtoblock %}<div class="fun_spacer"></div>
<h1 class="home_page_title">Hello!</h1>

<div class="for_fun">
	<style type="text/css">
		.box{
			position:absolute;
			width:200px;
			height:20px;
			left:20px;
			top:110px;
		}

		.content{position:relative;}
		
		.for_fun{
			position:absolute;
			top:20px;
			left:340px;
			left: 50%;
			margin-left: -120px;
			width:240px;
			height:240px;
			background-color:rgb(45,65,80);
			border-radius:50%;
		}
		
		.fun_spacer{width: 100%;height: 260px;}

		.box1{background-color:rgba(250,90,90,1);}
		.box2{background-color:rgba(230,100,70,1);}
		.box3{background-color:rgba(230,150,70,1);}
		.box4{background-color:rgba(230,200,70,1);}
		.box5{background-color:rgba(230,230,70,1);}
		.box6{background-color:rgba(180,230,70,1);}
		.box7{background-color:rgba(120,230,70,1);}
		.box8{background-color:rgba(70,180,70,1);}
		.box9{background-color:rgba(50,140,70,1);}
		.box10{background-color:rgba(20,120,70,1);}
		.box11{background-color:rgba(30,140,160,1);}
		.box12{background-color:rgba(40,100,160,1);}
		.box13{background-color:rgba(80,90,160,1);}
		.box14{background-color:rgba(150,90,160,1);}
		.box15{background-color:rgba(180,50,80,1);}
		.box16{background-color:rgba(220,50,80,1);}
	</style>


	<div class="box box2"></div>
	<div class="box box3"></div>
	<div class="box box4"></div>
	<div class="box box5"></div>
	<div class="box box6"></div>
	<div class="box box7"></div>
	<div class="box box8"></div>
	<div class="box box9"></div>
	<div class="box box10"></div>
	<div class="box box11"></div>
	<div class="box box12"></div>
	<div class="box box13"></div>
	<div class="box box14"></div>
	<div class="box box15"></div>
	<div class="box box16"></div>
	<div class="box box1"></div>
	
<script type="text/javascript">
$(document).ready(function(){


setTimeout( function(){ turnOn();} , 1000);

var isMobile = (/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(navigator.userAgent.toLowerCase()));

/*if (!isMobile){
	$('.for_fun').hover(function(){turnOff()},function(){turnOn()});
}*/

//else {
	var on = false;
	//$('.home_page_title').append("<br/>Click?");
	
	$('.for_fun').click(function(){
		if (!on){
			turnOn()
			on = true;
		}

		else{
			turnOff()
			on = false;
		}
	});
//}

//calculations all by hand, will automate
function turnOn(){
    rotateRight($('.box1'),180,619);
    rotateRight($('.box2'),191.25,658);
    rotateRight($('.box3'),202.5,697);
    rotateRight($('.box4'),213.75,735);
    rotateRight($('.box5'),225,774);
    rotateRight($('.box6'),236.25,813);
    rotateRight($('.box7'),247.5,852);
    rotateRight($('.box8'),258.75,890);
    rotateRight($('.box9'),270,929);
    rotateRight($('.box10'),281.25,968);
    rotateRight($('.box11'),292.5,1006);
    rotateRight($('.box12'),303.75,1045);
    rotateRight($('.box13'),315,1084);
    rotateRight($('.box14'),326.25,1123);
    rotateRight($('.box15'),337.5,1161);
    rotateRight($('.box16'),348.75,1200);
    on = true;
}

//calculations all by hand, will automate
function turnOff(){
    rotateRight($('.box1'),0,619);
    rotateRight($('.box2'),0,658);
    rotateRight($('.box3'),0,697);
    rotateRight($('.box4'),0,735);
    rotateRight($('.box5'),0,774);
    rotateRight($('.box6'),0,813);
    rotateRight($('.box7'),0,852);
    rotateRight($('.box8'),0,890);
    rotateRight($('.box9'),0,929);
    rotateRight($('.box10'),0,968);
    rotateRight($('.box11'),0,1006);
    rotateRight($('.box12'),0,1045);
    rotateRight($('.box13'),0,1084);
    rotateRight($('.box14'),0,1123);
    rotateRight($('.box15'),0,1161);
    rotateRight($('.box16'),0,1200);
    on = false;
}

/* Oddly jQuery UI doesn't have a rotation animation, but, if you call the animate function with an arbitrary value (ex: degree, which isn't a real CSS property), then you can use the step function to animate.  The step function is called for each 'step' of the animation.  jQuery UI figures out the timing and the change in the arbitrary value for each step (for example, for each step the angle changes by 'now' degrees). Then a simple CSS3 transform property is used to rotate the object*/
function rotateRight(obj, newAng, dur) {
    obj.stop().animate({degree : newAng}, {
        duration: dur,
        step: function(delta) {
            obj.css({transform: 'rotate(' + delta + 'deg)'});
        },
        easing: 'linear',
        queue: false
    });
};

}); //end document.ready

</script>
</div>

<!--<div class="browser_info">
    <h1>User Agent: {{browser}}</h1>
</div>-->

<div class="homepage_content">
{% for item in generic_list %}
    {% include 'generic/component/generic_list.html' %}
    {% if not forloop.last %}
    	<hr class='index_divider'>
    {% endif %}
{% endfor %}
</div>

{% endblock %}
