{% extends 'base/base.html' %}
{% block content %}{% load sekizai_tags %}{% addtoblock "description" %}<title>Welcome!</title><meta name="description" content="This is the official website of Loren Howard; Web Developer, Designer, and maker of pretty things that sparkle.">{% endaddtoblock %}
<div class="homepage_content">
{% for item in generic_list %}
    {% include 'generic/component/generic_list.html' %}
    {% if not forloop.last %}
    	<hr class='index_divider'>
    {% endif %}
{% endfor %}
</div>

{% endblock %}
