<div class="nav">
    <div class="nav_menu">
        <div class="menu_toggle"><div class="toggle_row_holder"><div class="toggle_row one"></div><div class="toggle_row two"></div><div class="toggle_row three"></div></div></div>
		<a class="nav_menu_item{%if current_page == 'blog' %} current{%endif%} first" href="/blog"><div>blog
		</div></a><a class="nav_menu_item{%if current_page == 'project' %} current{%endif%}" href="/projects"><div>projects
		</div></a><a class="nav_menu_item{%if current_page == 'service' %} current{%endif%}" href="/services"><div>services
		</div></a><a class="nav_menu_item{%if current_page == 'about' %} current{%endif%} last" href="/about"><div>about</div></a>
	</div>
</div>