{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{#CHANGED#}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript" src="<your installation path>/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    formats: {
            pre: {inline:'pre', 'classes': 'prettyprint'}
        }
 });
</script>
{{ media }}
{% endblock %}

{% block field_sets %}
{% for fieldset in adminform %}
<h1>wut wut wut wut wut wut wut wut wut</h1>
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}
