

@media (min-width:1020px){

}

@media (min-width:700px) and (max-width:1019px){

}

@media (min-width:400px) and (max-width:699px){
	#jvcoverletter{width:90%}
}

@media (max-width:399px){
	#jvcoverletter{width:100%} 
	.jvapply label{width:95%;display:block;} 
	.controls{width:90%} 
	.jvtext{width:100%}

	#jvApplyWithSection > img + span {display:none;}
	span.IN-widget {
		margin-left:60px;
		margin-top:10px;
	}

	#jvApplyWithSection > img {margin-left:65px;}
}