<div class="project_list_container">

<div class="project_title_container"><a class="project_link" href="/projects/{{project.url}}">
<h2 class="project_title">{{project.title}}</h2>
</a></div>

{% if project.main_image %}
<div class="project_main_image_wrapper">
<div class="project_main_image" style="background-image:url({{project.main_image.url}})"></div>
</div>
{% endif %}

<div class="project_list_text">{{ project.teaser|safe|truncatewords_html:200 }}&nbsp;<a class="readmore" href="/projects/{{ project.url }}">Read more</a>.</div>
<div class="project_text_spacer"></div>
</div>